body {
  /*РАСПОЛОЖЕНИЕ*/
  margin: 0;
  /*БЛОЧНАЯ МОДЕЛЬ*/
  padding: 0;
  min-width: 1180px;
  /*ТЕКСТ*/
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
}

.container {
  /*РАСПОЛОЖЕНИЕ*/
  margin: 0 auto;
  /*БЛОЧНАЯ МОДЕЛЬ*/
  width: 1140px;
}

.container-narrow {
  /*РАСПОЛОЖЕНИЕ*/
  margin: 0 auto;
  /*БЛОЧНАЯ МОДЕЛЬ*/
  width: 800px;
}

.clearfix:after {
  content: "";
  /*РАСПОЛОЖЕНИЕ*/
  display: table;
  clear: both;
}

.clear-both {
  /*РАСПОЛОЖЕНИЕ*/
  clear: both;
}

.hidden {
  /*РАСПОЛОЖЕНИЕ*/
  position: absolute;
  left: -9999px;
  /*БЛОЧНАЯ МОДЕЛЬ*/
  overflow: hidden;
  width: 1px;
  height: 1px;
}

a {
  /*ТЕКСТ*/
}

.btn {
  /*РАСПОЛОЖЕНИЕ*/
  /*ТЕКСТ*/
  /*ОФОРМЛЕНИЕ*/
}

.btn:hover {
  /*ОФОРМЛЕНИЕ*/
}

.btn:active {
  /*ОФОРМЛЕНИЕ*/
}

/*HEADER*/

header {
  position: fixed;
  width: 100%;
  background: rgba(255,255,255,0.9);
  font-size: 18px;
  line-height: 30px;
  z-index: 10;
}

.header-address {
  float: left;
}

.header-phone {
  float: right;
  font-size: 24px;
}

/*INDEX*/

section {
  padding-top: 90px;
  padding-bottom: 120px;
}

h2 {
  margin: 0;
  padding: 10px 0;
  margin-bottom: 52px;
  border-bottom: 1px solid black;
  font-size: 48px;
  line-height: 48px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

.motto {
  position: relative;
  padding-top: 542px;
  padding-bottom: 140px;
  border-bottom: 1px solid black;
  box-shadow: 0px 5px 13px rgba(0,0,0,0.36);
  /*ОФОРМЛЕНИЕ*/
  background: url(../img/background-1.png) no-repeat 50% 50% fixed;
  background-size: cover;
}

.motto-line {
  position: fixed;
  top: 30px;
  width: 100%;
  background: #333232;
  opacity: 0.41;
  box-shadow:
    inset 0px 4px 4px rgba(255,255,255,0.52),
    inset 0px -4px 4px rgba(0,0,0,0.52),
    0px 5px 13px rgba(51,50,50,0.3);
  z-index: 10;
}

.motto-logo {
  color: white;
  font-size: 48px;
  line-height: 50px;
  vertical-align: middle;
  text-transform: uppercase;
  padding: 0;
  font-weight: normal;
}

.motto b {
  display: block;
  font-size: 65px;
  font-weight: normal;
  line-height: 65px;
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
}

.motto::after {
  content:"";
  position: absolute;
  bottom: -5px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  width: 52px;
  height: 52px;
  background: url(../img/018-yoga-silhouette.png) no-repeat;
  background-size: cover;
}

.space {
  background: white;
}

.space h2 {
  position: relative;
}

.space h2::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 68px;
  height: 68px;
  background: url(../img/019-yoga-silhouette.png) no-repeat;
  background-size: cover;
}

.space-gallery {
  margin-left: -30px;
  font-size: 0;
  line-height: 0;
}

.space-gallery img {
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 30px;
  outline: 1px solid white;
  box-shadow: 0px 0px 13px rgba(50,50,50,0.5);
}

.space p {
  margin-top: 20px;
}

.schedule {
  /*ОФОРМЛЕНИЕ*/
  background: url(../img/background-3.png) no-repeat 50% 50% fixed;
  background-size: cover;
  border-bottom: 1px solid black;
  box-shadow: 0px 5px 13px rgba(0,0,0,0.36);
}

.schedule h2 {
  color: white;
  background: rgba(255,255,255,0.15);
  border: none;
}

.schedule-changes {
  margin: 0;
  margin-bottom: 52px;
  padding: 0;
  color: white;
  background: rgba(241,90,36,0.43);
  text-align: center;
}

.schedule-days {
  margin: 0;
  padding: 0;
}

.schedule-days li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.schedule-days label {
  display: block;
  margin-top: 1px;
  font-size: 24px;
  line-height: 40px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid white;
  background: rgba(127,127,127,0.15);
  cursor: pointer;
}

.schedule-weekend label {
  background: rgba(241,90,36,0.15);
}

.schedule-days label:hover {
  background: rgba(127,127,127,0.8);
  transition: all 1s ease 0.1s;
}

.schedule-weekend label:hover {
  background: rgba(241,90,36,0.8);
  transition: all 1s ease 0.1s;
}

.schedule-day {
  display: none;
  padding-top: 20px;
  padding-bottom: 30px;
  background: rgba(255,255,255,0.33);
}

input:checked ~ .schedule-day {
  display: table;
  width: 100%;
}

input:checked + label {
  background: rgba(127,127,127,0.8);
  transition: all 1s ease 0.1s;
}

.schedule-weekend input:checked + label {
  background: rgba(241,90,36,0.8);
  transition: all 1s ease 0.1s;
}

.schedule-day td:first-child {
  font-weight: bold;
}

.schedule-day td:last-child {
  border-bottom: 1px solid black;
  font-style: italic;
}

.team {
  border-bottom: 1px solid black;
}

.team h2 {
  position: relative;
}

.team h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 68px;
  background: url(../img/031-yoga-silhouette.png) no-repeat;
  background-size: cover;
}

.team-gallery {
  position: relative;
  border: 1px solid black;
  font-size: 0;
  line-height: 0;
  padding-top: 23px;
  margin-bottom: -30px;
}

.team-gallery-item {
  display: inline-block;
  margin-left: 23px;
  margin-bottom: 23px;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}

.team-gallery-item.director {
  margin-right: 220px;
}

.team-gallery-item img {
  display: block;
  outline: 1px solid white;
  box-shadow: 0px 0px 13px rgba(50,50,50,0.5);
}

.team-gallery-item h3 {
  margin: 0;
  padding: 10px 0;
  font-weight: normal;
  text-align: center;
}

.team-gallery-item p {
  margin: 0;
  padding: 0;
  font-style: italic;
  text-align: center;
}

.team-gallery-item:hover {
  box-shadow: 0px 3px 13px rgba(50,50,50,0.5);
}

.team-gallery-item:hover img {
  outline: none;
  box-shadow: none;
}

.team-gallery::after {
  content: "";
  position: absolute;
  bottom: -90px;
  right: 0;
  width: 68px;
  height: 68px;
  background: url(../img/033-yoga-silhouette.png) no-repeat;
  background-size: cover;
}

.price {
  /*ОФОРМЛЕНИЕ*/
  background: url(../img/background-2.png) no-repeat 50% 50% fixed;
  background-size: cover;
}

.price h2 {
  margin-top: -10px;
  margin-bottom: 150px;
}

.instant-visit {
  float: left;
  position: relative;
  width: 480px;
  font-size: 24px;
  line-height: 30px;
}

.instant-visit::before {
  content: "";
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  width: 63px;
  height: 63px;
  border-bottom: 1px solid black;
  background: url(../img/017-yoga-silhouette.png) no-repeat;
  background-size: cover;
}

.unlimited-visits {
  float: right;
  position: relative;
  width: 480px;
  font-size: 24px;
  line-height: 30px;
}

.unlimited-visits::before {
  content: "";
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  width: 63px;
  height: 63px;
  border-bottom: 1px solid black;
  background: url(../img/031-yoga-silhouette.png) no-repeat;
  background-size: cover;
}

.price h3 {
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
}

.instant-visit h3 {
  margin-bottom: 47px;
}

.instant-visit .price-value {
  color: #f15a24;
}

.price {
  padding-bottom: 80px;
  border-bottom: 1px solid black;
  box-shadow: 0px 5px 13px rgba(0,0,0,0.36);
}

.price p {
  margin: 0;
  padding: 0;
  padding-top: 3px;
  text-align: center;
}

.unlimited-visits-price {
  margin-left: -140px;
}

.unlimited-visits-price th {
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
}

.unlimited-visits-price td {
  padding: 0 3px;
  color: #f15a24;
}

.unlimited-visits-price td:first-child {
  color: black;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  width: 140px;
  padding-right: 13px;
}

.price .currency {
  font-size: 18px;
}

.contacts-map {
  float: left;
}

.contacts-description {
  margin-left: 30px;
  float: left;
}

/*FOOTER*/

.social {
  position: relative;
  margin-top: -35px;
  margin-bottom: 50px;
}

.social::before {
  content: "";
  position: absolute;
  top: -95px;
  left: 50%;
  transform: translateX(-50%);
  width: 66px;
  height: 61px;
  border-bottom: 1px solid black;
  background: url(../img/001-yoga-silhouette.png) no-repeat;
  background-size: cover;
}

.social ul {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0;
  line-height: 0;
}

.social li {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
}

.social a {
  display: block;
  width: 45px;
  height: 45px;
}

.social-vk {
  background: url(../img/social-vk.png) no-repeat 50% 50%;
}

.social-fb {
  background: url(../img/social-fb.png) no-repeat 50% 50%;
}

/*POPUPS*/

.pop-up-show {
  /*РАСПОЛОЖЕНИЕ*/
  display: block;
  /*ОФОРМЛЕНИЕ*/
  animation: bounce 0.6s;
}

@keyframes bounce {
  0%   {
    transform: translateY(-2000px);
  }
  70%  {
    transform: translateY(30px);
  }
  90%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
